manifest {
    mainScript = 'analysis.nf'
}

// default parameters
params {
    cores = "1"
    help = false

    fasta = ''
    fastq = ''
    dir = ''
    list = false

    sour_db = false
    sour_db_present = 'db_auto-build/genbank-k31.lca.json.gz'

    // options
    sourmeta = false
    sourclass = false
    guppygpu = false
    plasflow = false
    abricate = false
    nanoplot = false

    // basecalling
    flowcell = 'FLO-MIN106'
    kit = 'SQK-LSK109'
    barcode = ''

    // folder structure
    output = 'results'
}

profiles {

  standard {
        process.executor = 'local'
        docker { enabled = true }
        params.cpus = params.cores
        process {
            withLabel: sourmash { container = 'nanozoo/sourmash:2.0.1--6970ddc'  }
            withLabel: nanoplot { container = 'nanozoo/nanoplot:1.25.0--4e2882f' }
        }}}
