manifest {
    mainScript = 'analysis.nf'
}

// default parameters
params {
    cores = "8"
    memory = '16'
    help = false
    profile = false

    // inputs
    fasta = ''
    fastq = ''
    fastqPair = ''
    dir = ''
    dev = ''
    samplename = ''
    watchFast5 = ''
    list = false
    searchterm = ''
    range = '5000'
    readlength = '150'
    
    // databases
    centrifuge_db = false
    gtdbtk_db = false
    sour_db = false
    tax_db = false
    bakta_db = false
    krakendb = false

    // tools
    abricate = false
    abricateBatch = false
    assembly_ont = false
    centrifuge = false
    coverage = false
    deepHumanPathogen = false
    gtdbtk = false
    guppygpu = false
    metamaps = false
    mobile = false
    nanoplot = false
    plasflow = false
    plasmid_analysis = false
    plasmid_annotate = false
    res_compare = false
    sourclass = false
    sourcluster = false
    sourmeta = false
    tree_aa = false
    bakta = false
    checkm = false
    kraken2 = false
    
    // settings
    update = false
    filenames = false
    size = '1400'
    model = 'r941_min_high_g360'
    gsize = '8m'
    overlap = '1000'

    // basecalling
    flowcell = 'FLO-MIN106'
    kit = 'SQK-LSK109'
    barcode = ''
    config = false
    configtype = 'dna_r9.4.1_450bps_modbases_dam-dcm-cpg_hac.cfg'

    // folder structure
    output = 'results'
    workdir = "/tmp/nextflow-docker_pipelines-$USER"
}
// runinfo
timeline {
  enabled = true
  file = "${params.output}/runinfo/execution_timeline.html"
}

report {
  enabled = true
  file = "${params.output}/runinfo/execution_report.html"
}

profiles {
    standard {
        params.cloudProcess = false
        workDir = params.workdir
        docker { enabled = true }
        includeConfig 'configs/local.config'
        includeConfig 'configs/docker.config'
        params.databases = 'nextflow-autodownload-databases'
    }

    local {
        params.cloudProcess = false
        workDir = params.workdir
        includeConfig 'configs/local.config'
        params.databases = 'nextflow-autodownload-databases'
    }
    
    docker {
        docker { enabled = true }
        includeConfig 'configs/docker.config'
    }

    ukj_cloud { 
        workDir = params.workdir
        params { cloudProcess = true }
        docker { enabled = true } 
        process { executor = 'google-lifesciences' }
        params { databases = 'gs://database_taxonomy/' }
        bucketDir = 'gs://case-tmp-dir/docker_pipelines'
        google {  
            project = 'case-dev-302214'
            zone = 'europe-west1-b'
            lifeSciences {  preemptible = false
                            bootDiskSize = 100.GB
        }    }               
        includeConfig 'configs/docker.config'
        includeConfig 'configs/gcloud.config'
        
        // cloud error strategy
        process { errorStrategy = { task.exitStatus in [14,143,137,104,134,139] ? 'retry' : 'terminate' } }
        process { maxRetries = 3 }
        }
}
