process.executor = 'local'

        process {
            withLabel: abricate { cpus = 1 }  
            withLabel: bwa { cpus = params.cores }
            withLabel: centrifuge { cpus = params.cores } 
            withLabel: emboss { cpus = params.cores }
            withLabel: filtlong { cpus = 1 }
            withLabel: ggplot2 { cpus = 1 }
            withLabel: gtdbtk { cpus = params.cores }     
            withLabel: krona { cpus = params.cores }
            withLabel: metamaps { cpus = params.cores }
            withLabel: nanoplot { cpus = params.cores }
            withLabel: plasflow { cpus = 4 }
            withLabel: rmetaplot { cpus = params.cores } 
            withLabel: seqtk { cpus = params.cores }
            withLabel: sourmash { cpus = 4 }
            withLabel: ubuntu { cpus = 1 } 
            withLabel: bokeh { cpus = 1 } 
            withLabel: fasttree { cpus = params.cores }

            withLabel: blast { cpus = params.cores }
        }
